@import url("pad/normalize.css");

@import url("pad/layout.css");
@import url("pad/fonts.css");
@import url("pad/toolbar.css");
@import url("pad/popup.css");
@import url("pad/popup_connectivity.css");
@import url("pad/popup_import_export.css");
@import url("pad/popup_users.css");
@import url("pad/icons.css");
@import url("pad/chat.css");
@import url("pad/gritter.css");
@import url("pad/loadingbox.css");
@import url("pad/form.css");

html {
  font-size: 15px;
  color: #3e3e3e;
}

html,
#sidedivinner > div:before {
  font-family: Roboto;
}

.clear {
  clear: both
}
a {
  color: inherit;
}
a img {
  border: 0
}

.thin-scrollbar::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  border: 1px solid #f0f0f0;
}
.thin-scrollbar::-webkit-scrollbar {
  width: 7px;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #C5C5C5;
}

.buttontext::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.buttontext:focus{
  /* Not sure why important is required here but it is */
  border: 1px solid #666 !important;
}
.rtl {
  direction: RTL
}

/* fix for misaligned checkboxes */
input[type=checkbox] {
  vertical-align: -1px
}
input {
  color: inherit;
}
.right {
  float: right
}

@media (max-width: 800px) {
  .hide-for-mobile { display: none; }
}

.etherpadBrand{
  width:20%;
  max-width:100px;
  margin-left:auto;
  margin-right:auto;
}

.container {
  --uib-size: 60px;
  /* --uib-color: var(--primary-color); */
  --uib-speed: 1.1s;
  --uib-dot-size: 25%;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin calc(var(--uib-speed) * 2.5) infinite linear;
  margin-left: 45%;
  margin-top: 10%;
  z-index: 1;
}

.dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.dot:after {
  content: '';
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite
    calc(var(--uib-speed) * -0.15) ease-in-out;
}

.dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}
.dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}

